<main>
  <div class="position-relative">
    <div class="position-static">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150">150</span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100">100</span>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div style="margin-top: 50px"></div>

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin: 5px">
                <div class="btn-group special mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm" style="width: 32px"
                          *ngFor="let qId of questionsArray.slice(0, 35), let i = index" title="{{qId}}"
                          (click)="getQuestion(qId)">
                    {{i + 1}}
                  </button>
                </div>
              </div>

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin: 5px">
                <div class="btn-group special mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm" style="width: 32px"
                          *ngFor="let qId of questionsArray.slice(35, 70), let i = index" title="{{qId}}"
                          (click)="getQuestion(qId)">
                    {{i + 36}}
                  </button>
                </div>
              </div>


              <div *ngIf="this.question" class="php-container" style="margin-top: 50px">
                {{question | json}}
              </div>

            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>
<ngx-ui-loader></ngx-ui-loader>
