<main>
  <div class="position-relative">
    <div class="position-static">
      <!-- Hero for FREE version -->
<!--      <section class="section section-lg section-hero section-shaped">-->
        <!-- Background circles -->
<!--        <div class="shape shape-style-1 shape-primary">-->
<!--          <span class="span-150">150</span>-->
<!--          <span class="span-50"></span>-->
<!--          <span class="span-50"></span>-->
<!--          <span class="span-75"></span>-->
<!--          <span class="span-100"></span>-->
<!--          <span class="span-75"></span>-->
<!--          <span class="span-50"></span>-->
<!--          <span class="span-100"></span>-->
<!--          <span class="span-50"></span>-->
<!--          <span class="span-100">100</span>-->
<!--        </div>-->

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">

              <div style="margin-top: 200px"></div>

<!--              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">-->
<!--                <div class="btn-group special mr-2" role="group" aria-label="First group" style="margin: 5px"-->
<!--                     *ngFor="let gr of xxx, let id = index">-->
<!--                  <button type="button" class="btn btn-sm" style="width: 32px"-->
<!--                          *ngFor="let qId of gr, let i = index">-->
<!--                    {{i + (id * 35) + 1}}-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin: 5px">
                <div class="btn-group special mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm" style="width: 32px"
                          *ngFor="let qId of questionsArray.slice(0, 35), let i = index" title="{{qId}}">
                    {{i+1}}
                  </button>
                </div>
              </div>

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin: 5px">
                <div class="btn-group special mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm" style="width: 32px"
                          *ngFor="let qId of questionsArray.slice(35, 70), let i = index" title="{{qId}}">
                    {{i+36}}
                  </button>
                </div>
              </div>

<!--              &lt;!&ndash; &ndash;&gt;-->
<!--              <div class="container shape-container d-flex align-items-center py-lg">-->
<!--                <div class="col px-0">-->
<!--                  <div class="row align-items-center justify-content-center">-->
<!--                    <div class="col-lg-6 text-center">-->
<!--                      <img src="./assets/img/elephpant.svg" style="margin-top: 200px; width: 200px;" class="img-fluid">-->
<!--                      <p class="lead text-white">This section is under construction ...</p>-->
<!--                      <div class="btn-wrapper mt-5">-->

<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; &ndash;&gt;-->

            </div>
          </div>
        </div>

<!--      </section>-->
    </div>
  </div>
</main>
