<p>about works!</p>
<main>
  <div class="position-relative">
    <div class="position-static">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150">150</span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100">100</span>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">

              <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                  <h1>About</h1>
<p>Text text  text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
<p>Text text  text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
<p>Text text  text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>
