<div class="row">
  <div class="col-lg-12 col-md-12">

    <div class="container shape-container d-flex align-items-center py-lg">
      <div class="col px-0">
        <h1>ZCE - PHP ZEND Certification Exam</h1>

        <p>This application serves as a practice exam to help anyone who are about to take the <a
          href="http://www.zend.com/en/services/certification/php-certification"
          title="Zend PHP Certification"
          target="_blank">Zend PHP Certification</a>.</p>

        <p>This application can be used as a:</p>
        <ul>
          <li><a
            href="https://chrome.google.com/webstore/detail/zce-simulator/kdjolhghoglghipajmbmlmldbpncimge"
            title="Chrome Extension"
            target="_blank">Chrome Extension</a></li>
          <li><a href="https://addons.mozilla.org/ro/firefox/addon/php-zend-certification-exam/"
                 title="Firefox Extension"
                 target="_blank">Firefox Extension</a></li>
          <li><a
            href="https://alceanicu.github.io/zce/"
            target="_blank"
            title="GitHub Page">GitHub Page</a></li>
          <li title="Android mobile application (soon)">Android mobile application (soon)</li>
        </ul>

        <p>A total of 800 questions are available, ranging from topics in <strong>PHP5</strong> to
          <strong>PHP7.1</strong>.
          Just like the real exam, questions are always provided in random order, so that when re-taking the
          exam, a different set of questions are provided for you. Answer options are also randomised to make
          sure you understand the correct answer rather than the order of answers during the next time you see
          the question again.
        </p>

        <p>I believe that one of the most effective ways to increase the chances of passing the exam is to
          learn from your mistakes in practice exams, just like this one! But your best friend for this will
          always be <a href="https://www.php.net/manual/en/" title="PHP.NET" target="_blank">PHP.NET</a>.
        </p>

        <p>From version 1.0.2 you can export tests in <strong>PDF</strong> format, tests can have 5 or 10
          random questions.</p>

        <p>If you find this application useful, you can star as on <a
          title="Star as on GitHub"
          href="https://github.com/alceanicu/zce"
          target="_blank">GitHub</a>, also there you can find application source code.
        </p>

        <h5><strong>Questions source</strong>:</h5>

        <ul>
          <li><a href="http://php.net/manual/en/"
                 target="_blank">http://php.net/manual/en/</a></li>
          <li><a href="http://www.zendexam.com"
                 target="_blank">http://www.zendexam.com</a></li>
          <li><a href="https://www.codepunker.com/learn/quizzes"
                 target="_blank">https://www.codepunker.com/learn/quizzes</a></li>
          <li><a href="https://github.com/basselin/php-certification-training"
                 target="_blank">https://github.com/basselin/php-certification-training</a></li>
          <li><a href="https://fr.slideshare.net/carlosbuenosvinos/zend-php-53-demo-certification-test"
                 target="_blank">https://fr.slideshare.net/carlosbuenosvinos/zend-php-53-demo-certification-test</a>
          </li>
        </ul>

        <h5><strong>Disclaimer</strong>:</h5>

        <ul>
          <li>This application is not finished - some feature might not work properly.</li>
          <li>Not all questions are checked, some of them might have wrong answers.</li>
          <li>This app is not affiliated with or endorsed by <strong>PHP Group</strong> or <strong>ZEND</strong>.</li>
        </ul>

        <h5><strong>License</strong>:</h5>

        <p>This application is licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>
          license.</p>

      </div>
    </div>

  </div>
</div>
