<mat-card>

  <mat-card-content>
    <form fxLayout="column" fxLayoutAlign="center center"
          (ngSubmit)="onLogin(f)" #f="ngForm">
      <h2>Log In</h2>
      <mat-form-field fxFlex="20" fxFlex.xs="100">
        <input matInput type="email" placeholder="Email" name="email" ngModel required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20" fxFlex.xs="100">
        <input matInput type="password" placeholder="Password" name="password" ngModel required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>

      <button fxFlex="20" fxFlex.xs="100" mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
