<div *ngIf="!exam.isFinished">

  <mat-button-toggle-group *ngIf="hasMarkForReview">
    <mat-button-toggle disabled aria-label="Mark for review">
      Marked for review:
    </mat-button-toggle>

    <mat-button-toggle *ngFor="let mark of exam.markForReviewArray, let i = index"
                       [value]="mark" aria-label="{{mark + 1}}"
                       [disabled]="mark === currentIndex"
                       (change)="clickMark($event)">{{mark + 1}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-tab-group color="accent" backgroundColor="accent"
                 (selectedTabChange)="tabClick($event)"
                 [selectedIndex]="currentIndex">
    <mat-tab *ngFor="let id of exam.questionsArray, let i = index" [label]="i + 1">
      <br>
      <div *ngIf="exam.questions[exam.index] !== null">
        <app-question-display [question]="exam.questions[exam.index]"></app-question-display>

        <!-- CHECKBOX -->
        <div *ngIf="exam.questions[exam.index].type === PhpQuestionType.CHECKBOX">
          <app-question-checkbox [wasValidated$]="wasValidated$"
                                 [question]="exam.questions[exam.index]"></app-question-checkbox>
        </div>

        <!-- RADIO -->
        <div *ngIf="exam.questions[exam.index].type === PhpQuestionType.RADIO">
          <app-question-radio [wasValidated$]="wasValidated$"
                              [question]="exam.questions[exam.index]"></app-question-radio>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>

  <mat-card *ngIf="exam.questions[exam.index] !== null">
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
      <button mat-flat-button color="primary" type="button"
              fxFlex="32" fxFlex.xs="48"
              (click)="getPrevQuestion()"
              [disabled]="isDisabledPrevBtn">
        <mat-icon>navigate_before</mat-icon>
        PREV
      </button>

      <button mat-flat-button color="accent" type="button"
              fxFlex="32" fxHide.xs="true"
              (click)="markForReview()"
              [disabled]="isDisabledMarkForReviewBtn">
        <span *ngIf="exam.markForReviewArray.indexOf(currentIndex) === -1; else elseBlock">Mark for review</span>
        <ng-template #elseBlock>
          <span>Unmark for review</span>
        </ng-template>
      </button>

      <button mat-flat-button color="primary" type="button"
              fxFlex="32" fxFlex.xs="48"
              (click)="getNextQuestion()"
              [disabled]="isDisabledNextBtn">
        NEXT
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<mat-card *ngIf="!exam.isFinished">
  <mat-card-content fxLayout="column" fxLayout.xs="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
    <button mat-flat-button color="warn" type="button"
            fxFlex="100" fxFlex.xs="48"
            (click)="goToHome()">
      <span>Finish Exam</span>
    </button>
    <button mat-flat-button color="accent" type="button"
            fxFlex="48" fxHide.gt-xs="true"
            (click)="markForReview()"
            [disabled]="isDisabledMarkForReviewBtn">
      <span *ngIf="exam.markForReviewArray.indexOf(currentIndex) === -1; else elseBlock">Mark for review</span>
      <ng-template #elseBlock>
        <span>Unmark for review</span>
      </ng-template>
    </button>
  </mat-card-content>
</mat-card>

<ngx-ui-loader></ngx-ui-loader>
