<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a title="Home" routerLink="/home">Home</a></li>
          <li *ngIf="!isPage('/about')"><a title="About" routerLink="/about">About</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">made with <i class="fa fa-heart heart"></i> by <a
          href="https://github.com/alceanicu/zce" title="Star project on GitHub" target="_blank">niac</a>
        </span>
      </div>
    </div>
  </div>
</footer>
