<main>
  <div class="position-relative">
    <div class="position-static">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150">150</span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100">100</span>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="php-container">
                <!--{{question | json}}-->
                <app-question
                  *ngFor="let questionRow of question.questionRows"
                  [questionRow]="questionRow"></app-question>

                <app-answer
                  *ngFor="let answerRow of question.answerRows, let i = index"
                  [answerRow]="answerRow"
                  [disabled]="question.finalAnswer"
                  [i]="i"></app-answer>

                <div class="card">
                  <div class="card-footer">
                    <button class="btn btn-sm btn-info"
                            *ngIf="!this.question.finalAnswer"
                            (click)="onValidate()"> Validate
                    </button>

                    <button class="btn btn-sm"
                            *ngIf="this.question.finalAnswer"
                            (click)="getAnRandomQuestion()"
                            [ngClass]="(question.finalAnswer===false)?'btn-info':(isCorrect===true?'btn-success':'btn-danger')">
                      >>> {{btnText}}
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</main>
<ngx-ui-loader></ngx-ui-loader>
