// regular style toast
@import '~ngx-toastr/toastr';

.w100 {
  width: 250px;
}
.lead
{
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;

  margin-top: 1.5rem;
}
.lead + .btn-wrapper
{
  margin-top: 3rem;
}
.btn-white
{
  color: #212529;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-white:hover
{
  color: #212529;
  border-color: white;
  background-color: white;
}
.btn-white:focus,
.btn-white.focus
{
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(255, 255, 255, .5);
}
.btn-white.disabled,
.btn-white:disabled
{
  color: #212529;
  border-color: #fff;
  background-color: #fff;
}
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle
{
  color: #212529;
  border-color: white;
  background-color: #e6e6e6;
}
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus
{
  box-shadow: none, 0 0 0 0 rgba(255, 255, 255, .5);
}

.btn-github
{
  color: #fff;
  border-color: #222;
  background-color: #222;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-github:hover
{
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.btn-github:focus,
.btn-github.focus
{
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(34, 34, 34, .5);
}
.btn-github.disabled,
.btn-github:disabled
{
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.btn-github:not(:disabled):not(.disabled):active,
.btn-github:not(:disabled):not(.disabled).active,
.show > .btn-github.dropdown-toggle
{
  color: #fff;
  border-color: #222;
  background-color: #090909;
}
.btn-github:not(:disabled):not(.disabled):active:focus,
.btn-github:not(:disabled):not(.disabled).active:focus,
.show > .btn-github.dropdown-toggle:focus
{
  box-shadow: none, 0 0 0 0 rgba(34, 34, 34, .5);
}

.section
{
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-xl
{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section-lg
{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-sm
{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px)
{
  .section-hero
  {
    min-height: 1200px;
  }
}

.section-shaped
{
  position: relative;
}
.section-shaped .stars-and-coded
{
  margin-top: 8rem;
}
.section-shaped .shape
{
  position: absolute;
  z-index: -1;
  top: 0;

  width: 100%;
  height: 100%;
}
.section-shaped .shape span
{
  position: absolute;
}
.section-shaped .shape + .container
{
  position: relative;

  height: 100%;
}
.section-shaped .shape.shape-skew + .container
{
  padding-top: 0;
}
.section-shaped .shape.shape-skew + .container .col
{
  margin-top: -100px;
}
.section-shaped .shape.shape-skew + .shape-container
{
  padding-top: 18rem;
  padding-bottom: 19rem;
}
.section-shaped .shape-skew
{
  transform: skewY(-4deg);
  transform-origin: 0;
}
.section-shaped .shape-skew span
{
  transform: skew(4deg);
}
.section-shaped .shape-primary
{
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}
.section-shaped .shape-primary :nth-child(1)
{
  background: #53f;
}
.section-shaped .shape-primary :nth-child(2)
{
  background: #4553ff;
}
.section-shaped .shape-primary :nth-child(3)
{
  background: #4f40ff;
}
.section-shaped .shape-primary :nth-child(4)
{
  background: #25ddf5;
}
.section-shaped .shape-primary :nth-child(5)
{
  background: #1fa2ff;
}
.section-shaped .shape-default
{
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}
.section-shaped .shape-default :nth-child(1)
{
  background: #7795f8;
}
.section-shaped .shape-default :nth-child(2)
{
  background: #7b9aff;
}
.section-shaped .shape-default :nth-child(3)
{
  background: #6f8ff8;
}
.section-shaped .shape-default :nth-child(4)
{
  background: #76eea7;
}
.section-shaped .shape-default :nth-child(5)
{
  background: #6adaff;
}
.section-shaped .shape-light
{
  background: linear-gradient(150deg, shapes-light-color('step-1-gradient-bg') 15%, shapes-light-color('step-2-gradient-bg') 70%, shapes-light-color('step-3-gradient-bg') 94%);
}
.section-shaped .shape-light :nth-child(1)
{
  background: shapes-light-color('span-1-bg');
}
.section-shaped .shape-light :nth-child(2)
{
  background: shapes-light-color('span-2-bg');
}
.section-shaped .shape-light :nth-child(3)
{
  background: shapes-light-color('span-3-bg');
}
.section-shaped .shape-light :nth-child(4)
{
  background: shapes-light-color('span-4-bg');
}
.section-shaped .shape-light :nth-child(5)
{
  background: shapes-light-color('span-5-bg');
}
.section-shaped .shape-dark
{
  background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%);
}
.section-shaped .shape-dark :nth-child(1)
{
  background: #2e2e57;
}
.section-shaped .shape-dark :nth-child(2)
{
  background: #2b2b58;
}
.section-shaped .shape-dark :nth-child(3)
{
  background: #25254d;
}
.section-shaped .shape-dark :nth-child(4)
{
  background: #d782d9;
}
.section-shaped .shape-dark :nth-child(5)
{
  background: #008169;
}
.section-shaped .shape-style-1 span
{
  width: 120px;
  height: 120px;

  border-radius: 50%;
}
.section-shaped .shape-style-1 .span-200
{
  width: 200px;
  height: 200px;
}
.section-shaped .shape-style-1 .span-150
{
  width: 150px;
  height: 150px;
}
.section-shaped .shape-style-1 .span-100
{
  width: 100px;
  height: 100px;
}
.section-shaped .shape-style-1 .span-75
{
  width: 75px;
  height: 75px;
}
.section-shaped .shape-style-1 .span-50
{
  width: 50px;
  height: 50px;
}
.section-shaped .shape-style-1 :nth-child(1)
{
  bottom: auto;
  left: -4%;

  background: rgba(255, 255, 255, .1);
}
.section-shaped .shape-style-1 :nth-child(2)
{
  top: 10%;
  right: 4%;

  background: rgba(255, 255, 255, .1);
}
.section-shaped .shape-style-1 :nth-child(3)
{
  top: 280px;
  right: 5.66666%;

  background: rgba(255, 255, 255, .3);
}
.section-shaped .shape-style-1 :nth-child(4)
{
  top: 320px;
  right: 7%;

  background: rgba(255, 255, 255, .15);
}
.section-shaped .shape-style-1 :nth-child(5)
{
  top: 38%;
  right: auto;
  left: 1%;

  background: rgba(255, 255, 255, .05);
}
.section-shaped .shape-style-1 :nth-child(6)
{
  top: 44%;
  right: auto;
  left: 10%;

  width: 200px;
  height: 200px;

  background: rgba(255, 255, 255, .15);
}
.section-shaped .shape-style-1 :nth-child(7)
{
  right: 36%;
  bottom: 50%;

  background: rgba(255, 255, 255, .04);
}
.section-shaped .shape-style-1 :nth-child(8)
{
  right: 2%;
  bottom: 70px;

  background: rgba(255, 255, 255, .2);
}
.section-shaped .shape-style-1 :nth-child(9)
{
  right: 2%;
  bottom: 1%;

  background: rgba(255, 255, 255, .1);
}
.section-shaped .shape-style-1 :nth-child(10)
{
  right: auto;
  bottom: 1%;
  left: 1%;

  background: rgba(255, 255, 255, .05);
}
@media (max-width: 991.98px)
{
  .section-shaped .shape-style-1 span
  {
    height: 120px;
  }
}
@media (max-width: 767.98px)
{
  .section-shaped .shape-style-1 span
  {
    height: 90px;
  }
}
.section-shaped .shape-style-1.shape-primary
{
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}
.section-shaped .shape-style-1.shape-default
{
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}
.section-shaped .shape-style-1.shape-light
{
  background: linear-gradient(150deg, shapes-light-color('step-1-gradient-bg') 15%, shapes-light-color('step-2-gradient-bg') 70%, shapes-light-color('step-3-gradient-bg') 94%);
}
.section-shaped .shape-style-1.shape-dark
{
  background: linear-gradient(150deg, #32325d 15%, #32325d 70%, #32325d 94%);
}
.section-shaped .shape-style-2 span
{
  height: 190px;
}
.section-shaped .shape-style-2 .span-sm
{
  height: 100px;
}
.section-shaped .shape-style-2 :nth-child(1)
{
  top: 0;
  left: -16.66666%;

  width: 33.33333%;
}
.section-shaped .shape-style-2 :nth-child(2)
{
  top: 0;
  right: auto;
  left: 16.66666%;

  width: 33.33333%;
}
.section-shaped .shape-style-2 :nth-child(3)
{
  bottom: auto;
  left: 49.99999%;

  width: 33.33333%;
}
.section-shaped .shape-style-2 :nth-child(4)
{
  top: 55%;
  right: -16.66666%;

  width: 33.33333%;
}
.section-shaped .shape-style-2 :nth-child(5)
{
  bottom: 0;

  width: 33.33333%;
}
@media (max-width: 991.98px)
{
  .section-shaped .shape-style-2 span
  {
    height: 120px;
  }
}
@media (max-width: 767.98px)
{
  .section-shaped .shape-style-2 span
  {
    height: 90px;
  }
}
.section-shaped .shape-style-3 span
{
  height: 140px;
}
.section-shaped .shape-style-3 .span-sm
{
  height: 100px;
}
.section-shaped .shape-style-3 :nth-child(1)
{
  bottom: auto;
  left: -16.66666%;

  width: 66%;
}
.section-shaped .shape-style-3 :nth-child(2)
{
  top: 54%;
  right: -16.66666%;

  width: 40%;
}
.section-shaped .shape-style-3 :nth-child(3)
{
  top: 34%;
  right: auto;
  left: -16.66666%;

  width: 33.33333%;
}
.section-shaped .shape-style-3 :nth-child(4)
{
  right: -16.66666%;
  bottom: 0;

  width: 60%;

  opacity: .6;
}
.section-shaped .shape-style-3 :nth-child(5)
{
  bottom: 0;

  width: 33.33333%;
}
@media (max-width: 991.98px)
{
  .section-shaped .shape-style-3 span
  {
    height: 120px;
  }
}
@media (max-width: 767.98px)
{
  .section-shaped .shape-style-3 span
  {
    height: 90px;
  }
}
