<app-header></app-header>

<main>
  <div class="position-relative">
    <div class="position-static">
      <section class="section section-hero section-shaped">
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>

        <div class="container min">
          <router-outlet></router-outlet>
        </div>

      </section>
    </div>
  </div>
</main>

<app-footer></app-footer>
