<div class="card" [ngClass]="(!disabled)?'':((answerRow.correct===answerRow.userAnswer)?'isCorrect':'isWrong')">
  <div class="card-header">
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"
               [(ngModel)]="answerRow.userAnswer"
               [disabled]="disabled"
               [attr.data-correct]="answerRow.correct">
        {{letters[i]}} <span class="form-check-sign"></span>
      </label>
    </div>
  </div>
  <div class="card-body">
    <!-- 2 == plain text -->
    <pre *ngIf="(answerRow.language !== 2); else plainText;"><code
      class="language-{{extensionsAllowed[answerRow.language]}}">{{answerRow.text}}</code></pre>
    <ng-template #plainText><p class="card-text">{{answerRow.text}}</p></ng-template>
  </div>
</div>
