.w100 {
  width: 250px;
  font-size: 14px;
}
.lead {
  font-weight: 200;
  line-height: 1.7;
  margin-top: 1.5rem;
}
.lead + .btn-wrapper
{
  margin-top: 3rem;
}
.btn-white
{
  color: #212529;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-white:hover
{
  color: #212529;
  border-color: white;
  background-color: white;
}
.btn-white:focus,
.btn-white.focus
{
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(255, 255, 255, .5);
}
.btn-white.disabled,
.btn-white:disabled
{
  color: #212529;
  border-color: #fff;
  background-color: #fff;
}
.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle
{
  color: #212529;
  border-color: white;
  background-color: #e6e6e6;
}
.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus
{
  box-shadow: none;
}

.btn-github
{
  color: #fff;
  border-color: #222;
  background-color: #222;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-github:hover
{
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.btn-github:focus,
.btn-github.focus
{
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(34, 34, 34, .5);
}
.btn-github.disabled,
.btn-github:disabled
{
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.btn-github:not(:disabled):not(.disabled):active,
.btn-github:not(:disabled):not(.disabled).active,
.show > .btn-github.dropdown-toggle
{
  color: #fff;
  border-color: #222;
  background-color: #090909;
}
.btn-github:not(:disabled):not(.disabled):active:focus,
.btn-github:not(:disabled):not(.disabled).active:focus,
.show > .btn-github.dropdown-toggle:focus
{
  box-shadow: 0 0 0 0 rgba(34, 34, 34, .5);
}
