<div class="row">
  <div class="col-lg-12 col-md-12">

    <div class="container shape-container d-flex align-items-center">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <img src="./assets/img/elephpant.svg" alt="ZCE - PHP" style="margin-top: 100px; width: 200px;"
                 class="img-fluid">
            <p class="lead text-white">Test your PHP knowledge.</p>
            <div class="btn-wrapper mt-5">
              <a class="btn btn-lg btn-icon mb-3 mb-sm-0 btn-white w100"
                 title="Prepare module"
                 routerLink="/prepare">
                <span class="btn-inner--text">Prepare Module</span>
              </a>
              <a class="btn btn-lg btn-icon btn-danger mb-3 mb-sm-0 btn-github w100"
                 title="Simulate ZCE"
                 routerLink="/exam">
                <span class="btn-inner-text">
                  <span class="text-warning">Simulate ZCE </span>
                  <span class="text-danger">Exam</span>
              </span>
              </a>
            </div>
            <div class="btn-wrapper mt-2">
              <a class="btn btn-lg btn-icon btn-danger mb-3 mb-sm-0 btn-github w100"
                 title="Genarate PDF with 5 random question"
                 (click)="generatePDF(5)">
                <span class="text-warning">PDF Test</span>
                <span class="text-danger"> (5 Question)</span>
              </a>
              <a class="btn btn-lg btn-icon mb-3 mb-sm-0 btn-white w100"
                 title="Genarate PDF with 10 random question"
                 (click)="generatePDF(10)">
                <span style="color: #0b1011">PDF Test </span>
                <span class="text-danger">(10 Question)</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
