h1 {
  margin: 1em 0;
  font-size: 2em;
  font-weight: 300;
}

mat-icon {
  width: 15em;
  height: 15em;
  margin-top: 0.7em;
}

button {
  font-size: 1em;
  font-weight: 500;
  margin: 0.5em 1em;
  width: 95%;
  color: #000;
}
