p {
  color: #fafafa;
  font-size: 1.3em;
  line-height: 1.3em;
}

span {
  color: black;
}

mat-card {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

mat-card-header {
  background: #fafafa;
  padding: 10px 0;
  font-size: 1.3em;
  border-radius: 0 5px 0 0;
  box-shadow: 0 3px 5px -1px rgba(100, 0, 0, .2), 0 6px 5px 0 rgba(100, 0, 0, .14), 0 1px 18px 0 rgba(100, 0, 0, .12);
}

mat-card-content {
  padding: 10px;
  font-size: 1.3em;
}
