<nav class="navbar navbar-light">
  <div class="container">
    <!--<a class="navbar-brand" routerLink="/">Home</a>-->

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/random" routerLinkActive="active"> random</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/exam" routerLinkActive="active"> exam</a>
      </li>
    </ul>

  </div>
</nav>
