<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/random']">PHP</a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isDocumentation()">
          <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom"
             href="https://www.github.com/CreativeTimOfficial/paper-kit-2-angular" target="_blank">
            <i class="fab fa-github-square"></i>
            <p class="d-lg-none">GitHub</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isDocumentation()">
          <a placement="bottom" ngbTooltip="Tooltip on top" href="http://pk2-angular.creative-tim.com/documentation/tutorial" class="nav-link"
             target="_blank"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
