<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" title="Home" [routerLink]="['/home']">
        <img src="./assets/img/elephpant.svg" style="width: 50px;" class="img-fluid">
      </a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isRandom()">
          <div class="progress-percentage-wrapper">
            <div class="progress-percentage ng-cloak"
                 title="Corect {{message.correct}} from {{message.total}}">{{message.percentage}}
              %<br>{{message.correct}} | {{message.total}}</div>
            <round-progress
              [current]=message.percentage
              [max]="100"
              [color]="'#0F0'"
              [background]="'#F00'"
              [radius]="50"
              [stroke]="5"
              [semicircle]="true"
              [rounded]="true"
              [clockwise]="true"
              [responsive]="false"
              [duration]="800"
              [animation]="'easeInOutQuart'"
              [animationDelay]="0"></round-progress>
          </div>
        </li>
        <li class="nav-item" *ngIf="isExam()" style="font-weight: 600;color: #ff0000; padding-right: 20px">
          <countdown [config]="{leftTime: 5200, template: '$!h!:$!m!:$!s!'}" (finished)="onFinished()"></countdown>
        </li>
        <li class="nav-item" *ngIf="isHome() || isAbout()">
          <a class="nav-link" rel="tooltip" title="Star as on GitHub" data-placement="bottom"
             href="https://github.com/alceanicu/zce" target="_blank">
            <i class="fa fa-3x fa-github"></i>
            <p class="d-lg-none">GitHub</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="isHome()">
          <a placement="bottom" title="About" [routerLink]="['/about']" class="lead nav-link"
          ><i class="nc-icon nc-book-bookmark"></i> About</a>
        </li>
        <li class="nav-item" *ngIf="isAbout()">
          <a placement="bottom" title="Home"
             [routerLink]="['/home']" class="lead nav-link"><i class="nc-icon nc-book-bookmark"></i> Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
